<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.avanade.fahz"
    android:versionCode="3"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".application.FahzApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="br.com.avanade.fahz"
            android:exported="false"
            android:grantUriPermissions="true"
            android:requestLegacyExternalStorage="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:resource="@string/default_notification_channel_id" />

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SessionActivity"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/filter_view_http_token">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="token"
                    android:scheme="conecta" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DocumentsActivity"
            android:label="@string/label_documents"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/label_personal_data"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ListDependentsActivity"
            android:label="@string/label_dependents"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DependentActivity"
            android:label="@string/label_dependent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BenefitsActivity"
            android:label="@string/label_benefits"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/label_benefits"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AnnualRenewalDocumentsActivity"
            android:label="@string/label_benefits"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.benefits.BenefitsControlActivity"
            android:label="@string/label_benefits"
            android:parentActivityName=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".dialogs.TermsOfUseActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.healthplan.AdhesionHealthControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.healthplan.BaseHealthControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.request.ListRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.dentalplan.AdhesionDentalControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.dentalplan.BaseDentalControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.pharmacy.AdhesionPharmacyControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.pharmacy.BasePharmacyControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.schoolsupplies.BaseSchoolSuppliesControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ListTermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialogs.PrivacyTermsNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.scholarship.RequestScholarshipControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.scholarship.BaseScholarshipControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialogs.TermsOfOrientationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.christmas.SelectAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddAnnualRenewalDocumentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.anamnesis.SearchAuxiliaryDataActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.anamnesis.EditAnswerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.anamnesis.ViewAnswersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.anamnesis.LoginDevActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.anamnesis.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.anamnesis.SearchLifeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.anamnesis.FamilyTreeAnamnesisActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.token.RequestTokenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.token.InformativeTokenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.token.InsertTokenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BaseMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.benefits.toy.RequestNewToyActivity"
            android:exported="false"
            android:label="@string/title_activity_request_new_toy_acitivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.lgpd.PanelPrivacyTermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.lgpd.PanelTransparencyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.lgpd.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.lgpd.TermsControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.lgpd.ControlOfPrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialogs.PrivacyPolicyActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialogs.PolicyOfDataUseActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialogs.CheckPendingPoliciesActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialogs.ReadTermsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialogs.CheckPendingTermsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.InactivateDependentRegisterActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.benefits.healthplan.medicalrecord.MedicalRecordListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.benefits.healthplan.medicalrecord.MedicalRecordDetailsActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.benefits.healthplan.medicalrecord.ClinicalSummaryActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <service
            android:name=".FCMCloudMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".IIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>